/* Login container css */
.login-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2.75rem;
  margin-left: 4.0625rem;
  margin-right: 3.9375rem;
}

/* email section css */
#email {
  width: 18.75rem;
  height: 3.125rem;
  background: #ffffff4d 0% 0% no-repeat padding-box;
  border: 1px solid #1a1a1a;
  border-radius: 1.625rem;
  opacity: 1;
  padding-left: 1.5625rem;
  padding-top: 0.8625rem;
  padding-bottom: 0.95rem;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
}

/* Password  section css*/

#password {
  width: 18.75rem;
  height: 3.125rem;
  background: #ffffff4d 0% 0% no-repeat padding-box;
  border: 1px solid #1a1a1a;
  border-radius: 1.625rem;
  opacity: 1;
  box-sizing: border-box;
  padding-left: 1.5625rem;
  padding-top: 0.8625rem;
  padding-bottom: 0.95rem;
  text-align: start;
}

/* Email Placeholder  css*/

#email::placeholder {
  width: 6.375rem;
  height: 1.3125rem;
  text-align: center;
  font: normal normal normal 16px/17px Roboto;
  letter-spacing: 0px;
  color: #1a1a1a;
  opacity: 0.56;
}

/* Password Placeholder  css*/
#password::placeholder {
  width: 4.375rem;
  height: 1.3125rem;
  text-align: center;
  font: normal normal normal 16px/17px Roboto;
  letter-spacing: 0px;
  color: #1a1a1a;
  opacity: 0.56;
}

/* login Button css */
#login-btn {
  width: 18.75rem;
  height: 3.125rem;
  margin-top: 2.1875rem;
  margin-left: 4.125rem;
  margin-right: 3.9375rem;
  background: #e70b89 0% 0% no-repeat padding-box;
  border-radius: 26px;
  opacity: 1;
}

/* Forgot Password  section css */

#forgot-password h4 {
  width: 7.0625rem;
  height: 1.1875rem;
  margin-top: 0.9375rem;
  margin-left: 16.25rem;
  font: normal normal normal 14px/17px Roboto;
  letter-spacing: 0px;
  color: #e70b89;
  opacity: 1;
}
