
/* social Login container css */
.socialLogin-container {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  align-items: center;
  justify-content: center;
}

/* all spans with red text css */
.red {
  color: red;
}
/* all icons  css */
.socialLogin-icon-container {
  margin-top: 21px;
  left: 115px;
  width: 200px;
  height: 50px;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  opacity: 1;
}

/* don't have an account section  css*/
#acct-container {
  margin-top: 23px;
}


/* terms and condition section  css*/
#tnc {
  margin:24px auto 58px ;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}
#tnc-line{
  border-bottom: 1px solid red ;
 
}